@model IEnumerable<IGrouping<OS.MVC.Models.Departamento, OS.MVC.Models.OrdemServico>>

@{
    ViewData["Title"] = "Ordem de Serviços por Departamentos";
    DateTime minDate = DateTime.Parse(ViewData["minDate"] as string);
    DateTime maxDate = DateTime.Parse(ViewData["maxDate"] as string);
}

<h2>@ViewData["Title"] </h2>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <form class="navbar-form navbar-left" role="search">
            <div class="form-group">
                <div class="form-group">
                    <label for="minDate">Data mínima</label>
                    <input type="date" class="form-control" name="minDate" value=@ViewData["minDate"] />
                </div>
                <div class="form-group">
                    <label for="maxDate">Data maxima</label>
                    <input type="date" class="form-control" name="maxDate"  value=@ViewData["maxDate"] />
                </div>
            </div>
            <button type="submit" class="btn btn-primary">Filtrar</button>
        </form>
    </div>
</nav>

@foreach (var departamentoGroup in Model)
{
<div class="panel panel-primary">
    <div class="panel-heading">
        <h3>Departamento @departamentoGroup.Key.Descricao</h3>
    </div>
    <table class="table table-striped table-hover">
        <thead>
            <tr class="success">
                <th>
                    Descrição
                </th>
                <th>
                    Tipo de Ordem
                </th>
                <th>
                    Status
                </th>
                <th>
                    Data Registrada
                </th>
                <th>
                    Data Finalizada
                </th>
                <th>
                    Funcionario responsavel
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in departamentoGroup)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Descricao)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TipoOrdem)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DataRegistro)
                    </td>
                    @if(item.DataFinalizada != DateTime.Parse("01/01/0001"))
                    {
                        <td>
                            @Html.DisplayFor(modelItem => item.DataFinalizada)
                        </td>
                    } else {
                        <td class="text-danger">
                        --/--/----
                        </td>
                    }
                    <td>
                        @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                    </td>
                    <td>
                        <a class="btn btn-sm btn-info" asp-action="Details" asp-route-id="@item.Id">Detalhes</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
}