@model IEnumerable<OS.MVC.Models.OrdemServico>

@{
    ViewData["Title"] = "Ordem de Serviços";
}

<h2>@ViewData["Title"] </h2>

<p>
    <a asp-action="Create" class="btn btn-default">Criar uma nova chamada</a>
    <a asp-action="PesquisarDatas" class="btn btn-default">Gerar Relatórios por data</a>
    <a asp-action="GrupoDepartamento" class="btn btn-default">Gerar Relatórios por departamento</a>
</p>

<div class="panel panel-default">
    <div class="panel-heading text-center">
        <h4>Ordens de serviços pendentes</h4>
    </div>


    <table class="table table-striped table-hover">
        <thead>
            <tr class="success">
                <th>
                    @Html.DisplayNameFor(model => model.Descricao)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.TipoOrdem)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DataRegistro)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Funcionario) responsavel
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                @if (item.Status.ToString() == "EmExecucao" ||
                 item.Status.ToString() == "Pausado" || item.Status.ToString() == "Iniciado")
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Descricao)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.TipoOrdem)
                        </td>
                        @if (item.Status.ToString() == "EmExecucao")
                        {
                            <td class="active text-center" style="padding-top: 20px;">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        } else if (item.Status.ToString() == "Pausado")
                        {
                            <td class="warning text-center" style="padding-top: 20px;">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        } else if (item.Status.ToString() == "Iniciado")
                        {
                            <td class="info text-center" style="padding-top: 20px;">
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                        }
                        <td>
                            @Html.DisplayFor(modelItem => item.DataRegistro)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Funcionario.Nome)
                        </td>
                        <td class="btn-group">
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary">Finalizar</a>
                            <a asp-action="Cancelar" asp-route-id="@item.Id" class="btn btn-danger" id="cancelar">Cancelar</a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

