@model IEnumerable<OS.MVC.Models.Funcionario>

@{
    ViewData["Title"] = "Funcionario";
}

<h2>@ViewData["Title"] </h2>

<p>
    <a asp-action="Create" class="btn btn-default">Criar um novo</a>
</p>

<table class="table table-striped table-hover">
    <thead>
        <tr class="info">
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Departamento)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Departamento.Descricao)
                </td>
                <td>
                    <div class="btn-group align-item-center">
                    <a class="btn btn-primary btn-sm" asp-action="Edit" asp-route-id="@item.Id">
                        <span><i class="glyphicon glyphicon-pencil"></i></span> Edit</a>
                    <a class="btn btn-info btn-sm" asp-action="Details" asp-route-id="@item.Id">
                        <span><i class="glyphicon glyphicon-search"></i></span> Details</a>
                    <a class="btn btn-danger btn-sm" asp-action="Delete" asp-route-id="@item.Id">
                        <span><i class="glyphicon glyphicon-trash"></i></span> Delete</a>

                    </div>
                </td>
            </tr>
        }
    </tbody>
</table>